<polymer-element name="task-edit">
  <template>
    <style>
      label {
        font-family: verdana, sans-serif;
        font-weight: bold;
        color: #ffffff;
        background: #336799;
        padding: 1px;
        border-right: 1px solid #999999;
        border-bottom: 1px solid #999999;
      }
      input {
        font-family: arial, sans-serif;
        font-size: 14px;
      }
      button {
        padding: 1px;
        background: #ffcc99;
        border-right: 1px solid #999;
        border-bottom: 1px solid #999;
        border-style: outset;
        border-color: #d7b9c9;
        font-weight: bold;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      button:active {
        background: orangered;
        border-color: blue;
      } 
      .marker {
        font-family: arial, sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #003366;
        background: #ffe4b5;
        padding: 1px;
      }
    </style>
    <br/>
    <span class="marker">Task of {{task.project.name}}</span>
    <br/>
    <label>Employee</label>
    <input readonly="true" value="{{task.employee.name}}"/>
    <br/>
    <label for="description">Description</label>
    <input id="description"
      type="text" size="96" value="{{description}}"
    />
    <br/>
    <button on-click="update">Update</button>
    <span id="message"></span>
  </template>
  <script type="application/dart" src="task_edit.dart"></script>
</polymer-element>